.notification {
  display: inline-block;
  padding: 15px 26px;
  color: whitesmoke;
  border: 8px;
  border-radius: 5%;
  text-align: center;
  background-color: cornflowerblue;
  position: relative;
  text-decoration: none;
  margin: 135px;
}

.notification:hover {
  background: mistyrose;
}

.notification .alert {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  background-color: red;
  color: white;
  border-radius: 10%;
}

#msg {
  background-image: url(https://cdn.dribbble.com/users/1953501/screenshots/6331811/output.gif);
  background-attachment: fixed;
  width: 70%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  border: 12px solid black;
  margin: 200px;
  font-family: "Roboto", sans-serif;
}

.p {
  text-align: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  font-weight: bold;
  background: lightgray;
  width: 30%;
  height: 80px;
  color: black;
  margin: auto;
}

.Home {
  background:black;
  width:80px;
  height:30px;
  text-align:center;
  color:white;
  border:2px;
  border-radius:5%;
  display: inline-box;
  margin:auto;
  text-decoration:none;
  border:2px;
  padding: 15px 26px;
}
